.icheckbox_square-blue,
.iradio_square-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(blue.png) no-repeat;
    border: none;
    cursor: pointer;
}
#tablaproducto{
    margin-top: -2%;
    width: 79%;
}
#btnguardarproducto{
    margin-left: 40%;
}
#btnguardarfamilia{
    margin-left: 47%;
}
#vermodaleditar{
    margin-left: 27%;
    margin-top: 7%;
    width: 50%;
}
.msj{
	
	width: 100%;
	border:1px solid blue;
	text-align: center;
	background-color: rgba(0,255,0,0.7);
	border-radius: 10px;
	color: white;
}
#gestiongestion2{
margin-left: 730px;
	margin-top: -8%;
	background-color: #03a9f4;
	color: white;     
}
#agregarfamiliamodal{
    background-color: #03a9f4;
}
#sessiones{
    color: white;
 margin-top: 0.5%;
	text-align: center;
	   
	
        margin-left: 85%;
  
}
#centrarsalida{
    width: 50%;
    margin-left: 15%;
}
#centrarentrada{
    width: 50%;
    margin-left: 15%;
}
#btnregistrarentrada{
    margin-left: 32%;
}
#modificar{
  background-color: rgba(0,0,128,1.0);  
}
#mensajegentrada{
    width: 30%;
    margin-left: 32%;
}
#titulo{
    color: white;
}
#menu{
    background-color: rgba(0,0,0,0.9); 
}
#contentgproducto{
    margin-top: -3%;
   
}
.msjerror{
	width: 100%;
	border:1px solid blue;
		text-align: center;
	background-color: rgba(255,0,0,0.8);
	border-radius: 10px;
	color: #FD0;
}

.icheckbox_square-blue {
    background-position: 0 0;
}
    .icheckbox_square-blue.hover {
        background-position: -24px 0;
    }
    .icheckbox_square-blue.checked {
        background-position: -48px 0;
    }
    .icheckbox_square-blue.disabled {
        background-position: -72px 0;
        cursor: default;
    }
    .icheckbox_square-blue.checked.disabled {
        background-position: -96px 0;
    }

.iradio_square-blue {
    background-position: -120px 0;
}
    .iradio_square-blue.hover {
        background-position: -144px 0;
    }
    .iradio_square-blue.checked {
        background-position: -168px 0;
    }
    .iradio_square-blue.disabled {
        background-position: -192px 0;
        cursor: default;
    }
    .iradio_square-blue.checked.disabled {
        background-position: -216px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_square-blue,
    .iradio_square-blue {
        background-image: url(blue@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}
